*.*~
*.log
*.aux
*.out
*.idx
*.mw
*.tikz
*.bcf
*.gls
*.bbl
*.blg
*.lof
*.lot
*.lox
*.toc
*.xdy
*.acn
*.acr
*.alg
*.glg
*.glo
*.rtf
*.xml
*.docx
usr/graphics/dynamic/*
usr/cache/*
.Rhistory
.Rproj.user
supplementary/*.pdf
versions
